/*MAIN CONTACTO*/
.contacto{
    display: flex;
    justify-content: center;
        form{
        padding: 10px;
            div{
            border-radius: 10px;
            font-size: 30px;
            box-shadow: 0 0 5px;
            @include flexbox(flex,column,space-evenly,null);
            flex-wrap: wrap;
            padding: 5px;
            &:hover{
                transition: 1s;
                transform: scale(1.1);
                }
            button{
                border-radius: 10px;
                border: none;
                background: linear-gradient(to right,blue,rgb(0, 183, 255));
                &:hover{
                    background: linear-gradient(to right,rgba(0, 0, 219, 0.775),rgba(0, 143, 199, 0.778));
                    }
            }
            }
        }
    }
    