/*FOOTER*/
footer{
    height: auto;
    width: 100%;
    background-color: map-get($color, principal);
    display: flex;
    justify-content:flex-end;
    box-shadow: $box-shadow;
}
footer div{
    margin-right: 20px;
}