/*MAIN PORTAFOLIO*/
.portafolio{
    display: flex;
    justify-content:center;
        section{
        width: 80%;
        display: grid;
        margin: 20px;
        padding-top: 20px;
        padding-bottom: 40px;
        grid-template-columns: repeat(3,1fr);
        grid-template-rows: repeat(2,50%);
        column-gap: 20px;
        row-gap: 20px;
            .card{
            box-shadow: $box-shadow;
            border-radius: 5px;
            align-items: center;
                .btn{
                    justify-content: center;
                    width: 80%;
                    height: 30px;
                    border: 1px solid map-get($color, principal);
                    border-radius: 5px;
                    color: map-get($color, secundario);
                    cursor: pointer;
                    background: linear-gradient(to right,black,rgb(43, 43, 43));
                    &:hover{
                    background: linear-gradient(to right,rgb(23, 23, 23),rgb(9, 7, 7));
                    }
                }
                &:hover{
                    transition: 1s;
                    transform: scale(1.1);
                    }
            }
        }
    }