/*MAIN SERVICIOS*/
.servicios{
    display: flex;
    justify-content: center;
    height: 100vh;
        section{
        width: 80%;
        display: grid;
        padding: 40px 0;
        padding-top: 100px;        
        grid-template-columns: repeat(3,1fr);
        grid-template-rows: repeat(1,85%);
        column-gap: 20px;
            .card{
                box-shadow: $box-shadow;
                border-radius: 5px;
            }
    }
}