/*MAIN SOBRE MI*/
.sobremi{
    display: flex;
    justify-content: center;
    section{
        width: 80%;
        padding: 15px;
        @include flexbox(flex,column,center,center);
        div h2{
            font-size: 40px;
            text-align: center;
            color: map-get($color , secundario );
        }
    }   
} 
.quiensoy{
    height: 50px;
    padding: 10px;
    margin: 10px;
}
#yo{
    font-size: 20px;
    @include flexbox(flex,row,center,center);
    text-align: center;
    color: map-get($color , secundario );
    margin: 10px;
    div img{
        box-shadow: $box-shadow;
        padding: 5px;
        margin-right: 20px;
    }
}
#html{
    font-size: 20px;
    @include flexbox(flex,row-reverse,center,center);
    text-align: center;
    color: map-get($color , secundario );
    margin: 10px;
    div img{
        box-shadow: $box-shadow;
        padding: 5px;
        margin-left: 20px;
    }
}
.elegirme{
    height: 100%;
    padding: 10px;
    margin: 10px;
}
#sobremi{
    font-size: 20px;
    text-align: left;
    color: map-get($color , secundario );
    margin: 10px;
}
.lista{
    color: map-get($color , secundario );
    list-style-type: circle;
}